.asideContainer {
  background-color: #100e3a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dayOfWeek {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 24px;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

.cityName {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 100px;
}
